<div class="col-md-4 offset-md-4 mt-5">
  <div class="card">
      <div class="card-body">
        <h4 class="card-title text-center mb-3"><img src="/assets/bahacertlogo.png" width="150px" height="30" class="d-inline-block align-top" alt="">
        </h4>
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <div class="form-floating mb-3">
                <input id="emailOrUsername" formControlName="emailOrUsername" placeholder="Email or username" type="text"  class="form-control form-control-sm" [ngClass]="{ 'is-invalid': submitted && f.emailOrUsername.errors }" />
                <label for="emailOrUsername">Email or username</label>
                <div *ngIf="submitted && f.emailOrUsername.errors" class="invalid-feedback">
                  <div *ngIf="f.emailOrUsername.errors.required">Username is required</div>
              </div>
              </div>
              <div class="form-floating">
                <input type="password" formControlName="password" class="form-control " [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="password" placeholder="Password">
                <label for="password">Password</label>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                  <div *ngIf="f.password.errors.required">Password is required</div>
              </div>
              </div>
            </div>

              <button [disabled]="loading" class="btn btn-info mt-3  ">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Login
              </button>
              <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>


      </div>
  </div>
</div>
